<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
 "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
 "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- 数据库hibernate的信息 -->
        
        <!-- 显示sql语句 -->
    	<property name="show_sql">true</property>
    	<!-- 显示方言 -->
    	<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
    	<!-- 若数据库中没有创建表则自动创建表 -->
    	<property name="hibernate.hbm2ddl.auto">update</property>
    	
    	<!-- hibernate映射类 -->

  		
  		<mapping resource="com/feng/model/User.hbm.xml" /> 
  	    <mapping resource="com/feng/model/Survey.hbm.xml" />   
  	    <mapping resource="com/feng/model/Page.hbm.xml" />
  	    <mapping resource="com/feng/model/Question.hbm.xml" />  
    </session-factory>
</hibernate-configuration>    
